.advantages__title {
  text-align: center;
}

.advantages__list {
  @include markerless;

  display: grid;
  grid-template-columns: 1fr 255px 1fr;
  grid-template-rows: repeat(2, 155px);
  grid-column-gap: 53px;

  margin-top: 70px;
}

.advantages__list-item {
  position: relative;

  display: flex;
  justify-content: space-between;


  /*
  *** Модификаторы для управления расположением элементов внтури Grid Layout: НАЧАЛО ***
  */
  &--top-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    align-items: flex-start;

    padding-left: 99px;
  }

  &--top-right {
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 2;

    align-items: flex-start;

    padding-right: 92px;
  }

  &--center {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  &--bottom-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: -1;
    grid-row-end: -2;

    align-items: flex-end;

    padding-left: 92px;
  }

  &--bottom-right {
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -1;
    grid-row-end: -2;

    align-items: flex-end;

    padding-right: 92px;
  }
  /* *** Модификаторы для управления расположением элементов внтури Grid Layout: КОНЕЦ *** */


  &--top-left::after,
  &--top-right::after {
    content: "";

    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    max-width: 340px;
    height: 2px;

    background-color: rgba(209, 10, 66, 0.2);
  }

  &--top-left::after {
    right: 0;
  }

  &--top-right::after {
    left: 0;
  }
}

.advantages__colored-text {
  position: relative;
  margin-right: 26px;
  margin-bottom: 18px;
}

.advantages__colored-text b {
  font-family: $primary-font;
  font-size: 71px;
  font-weight: 700;
  line-height: 50px;
  color: transparent;

  background-color: transparent;
  background-image: linear-gradient(127.61deg, $advantages-colored-text-red 0%, $advantages-colored-text-blue 45.58%);
  background-clip: text;
}

.advantages__colored-text span {
  position: absolute;
  bottom: -21px;
  left: 0;

  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $advantages-colored-text-blue--small;
}

.advantages__description {
  width: auto;
}

.advantages__description strong {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $primary-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: $advantages-description-text;
}

.advantages__description p {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  font-family: $primary-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $advantages-description-text;
}

.advantages__centered-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 240px;
  min-height: 307px;

  padding-top: 56px;

  background-color: $advantages-centered-item-background;
}

.advantages__centered-item-heading p {
  margin: 0;
  padding: 0;
  padding-left: 8px;

  font-family: $primary-font;
  font-size: 74px;
  font-weight: 700;
  line-height: 74px;
  color: $white;
}

.advantages__centered-item-heading span {
  margin: 0;
  padding: 0;

  font-family: $primary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: $white;
}

.advantages__centered-item-description {
  margin: 0;
  margin-top: 32px;
  padding: 0;

  width: 100%;
  max-width: 172px;

  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $white;
  text-align: center;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content minmax(240px, max-content) min-content;
    grid-column-gap: 0;
    grid-row-gap: 28px;

    width: 100%;
    max-width: 800px;

    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  .advantages__list-item {
    align-items: flex-start;

    width: 100%;
    max-width: 360px;

    padding: 0;


    &::after {
      display: none;
    }


    /*
    *** Модификаторы для управления расположением элементов внтури Grid Layout: НАЧАЛО ***
    */
    &--top-left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &--top-right {
      grid-column-start: -1;
      grid-column-end: -2;
      grid-row-start: 1;
      grid-row-end: 2;

      padding-left: 15px;
    }

    &--center {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: 3;

      align-items: center;
    }

    &--bottom-left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: -1;
      grid-row-end: -2;
    }

    &--bottom-right {
      grid-column-start: -1;
      grid-column-end: -2;
      grid-row-start: -1;
      grid-row-end: -2;

      padding-left: 15px;
    }
    /* *** Модификаторы для управления расположением элементов внтури Grid Layout: КОНЕЦ *** */
  }

  .advantages__colored-text {
    margin-right: 30px;
  }

  .advantages__colored-text b {
    font-size: 58px;
    line-height: 87px;
  }

  .advantages__colored-text span {
    bottom: -3px;
  }

  .advantages__description {
    margin-top: 14px;
  }

  .advantages__description strong {
    font-size: 20px;
    line-height: 30px;
  }

  .advantages__description p {
    margin-top: 2px;
  }

  .advantages__centered-item {
    width: 100%;
    max-width: 442px;
    min-height: 240px;

    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 20px;
  }

  .advantages__centered-item-heading {
    margin-top: 0;
  }

  .advantages__centered-item-heading p {
    padding-left: 0;
  }

  .advantages__centered-item-heading span {
    font-size: 22px;
    line-height: 33px;
  }

  .advantages__centered-item-description {
    margin-top: 13px;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--tablet) {
  .advantages__list {
    grid-column-gap: 0;
    grid-row-gap: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__list-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 22px;


    &:last-child {
      margin-bottom: 0;
    }

    /*
    *** Модификаторы для управления расположением элементов внтури Grid Layout: НАЧАЛО ***
    */
    &--top-left {
      order: 1;
    }

    &--top-right {
      order: 2;

      margin-bottom: 42px;
      padding-left: 0;
    }

    &--center {
      order: 3;
      justify-content: flex-start;
      margin-bottom: 26px;
    }

    &--bottom-left {
      order: 4;
    }

    &--bottom-right {
      order: 5;
      padding-left: 0;
    }
    /* *** Модификаторы для управления расположением элементов внтури Grid Layout: КОНЕЦ *** */
  }

  .advantages__colored-text {
    margin: 0;
  }

  .advantages__colored-text span {
    left: 50%;
    transform: translateX(-50%);
  }

  .advantages__description {
    width: 100%;
    max-width: 226px;

    margin-top: 8px;
  }

  .advantages__description strong,
  .advantages__description p {
    text-align: center;
  }

  .advantages__centered-item {
    max-width: 100%;
    padding-top: 38px;
  }

  .advantages__centered-item-heading span {
    line-height: 22px;
  }

  .advantages__centered-item-description {
    margin-top: 9px;
  }
}
