.request-submit-section {
  background-color: $contacts-form-background;
}

.request-submit-section__content {
  width: 100%;
  max-width: 414px;

  margin-right: 176px;
}

.request-submit-section__title {
  color: $white;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .request-submit-section__content {
    max-width: 502px;
    margin-right: 0;
  }
}
