.reviews {
  margin-top: 118px;
}

.reviews__title {
  text-align: center;
}

.reviews__slider-track,
.reviews__slides-container {
  width: 100%;
  max-width: 560px;

  margin-right: auto;
  margin-left: auto;
}

.reviews__slider-track {
  margin-top: 52px;
}

.reviews__slider-toggle {
  position: absolute;
  top: 120px;

  &--previous {
    left: -70px;
  }

  &--next {
    right: -54px;
  }
}

.reviews__list {
  @include markerless;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 560px;

  margin: 0 auto;


  &--js-active {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.reviews__list li {
  box-sizing: border-box;

  margin: 0;
  margin-bottom: 60px;

  background-color: $review-background;

  &:last-child {
    margin-bottom: 0;
  }
}

.reviews__list--js-active li {
  margin-bottom: 0;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .reviews {
    margin-top: 99px;
  }

 .reviews__slider-track {
    margin-top: 40px;
  }

  .reviews__slider-toggle {
    &--previous {
      left: -65px;
    }

    &--next {
      right: -65px;
    }
  }

  .reviews__list {
    max-width: 566px;
  }

  .reviews__list li {
    margin-bottom: 40px;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--tablet) {
  .reviews {
    margin-top: 68px;
  }

 .reviews__slider-track {
    margin-top: 43px;
  }

  .reviews__slider-toggle {
    top: 167px;

    &--previous {
      left: -6px;
    }

    &--next {
      right: -7px;
    }
  }

  .reviews__slides-container {
    max-width: 226px;
  }

  .reviews__list {
    max-width: 100%;
  }

  .reviews__list li {
    box-sizing: border-box;

    width: 100%;
    margin-bottom: 30px;
  }
}
