.site-footer {
  background-color: $footer-background;
}

.site-footer__wrapper {
  display: flex;

  padding-top: 45px;
  padding-bottom: 44px;
}

.site-footer__logo {
  margin-left: 10px;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .site-footer__logo {
    margin-left: 0;
    margin-right: 42px;
  }

  .site-footer__wrapper {
    padding-top: 48px;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--tablet) {
  .site-footer__wrapper {
    position: relative;
    flex-direction: column;
  }

  .site-footer__logo {
    position: absolute;
    top: 50px;
    left: 14px;
  }

  .site-footer__logo img {
    width: 68px;
    height: 15px;
  }
}
