.site-main-content__color-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $section-background;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--desktop) {
  .site-main-content__color-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--tablet) {
  .site-main-content__color-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
