// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 767px;
$width--desktop: 1199px;


// *** для Шрифтов ***
$primary-font: "Roboto Condensed", Arial, sans-serif;
$additional-font: "Bebas Neue", Arial, sans-serif;


// *** для Цветов ***
$white: #ffffff;
$black: #000000;

$main-text-color: #102654;

// --- разные Цвета для секций ---
$section-background: #f8f9fc;

$main-block-blue: #003d85;
$main-block-red: #b80027;

$subscriptions-blue: #00359F;
$subscriptions-red: #D10A42;


