// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 767px;
$width--desktop: 1199px;


// *** для Шрифтов ***
$primary-font: "Roboto Condensed", Arial, sans-serif;
$additional-font: "Bebas Neue", Arial, sans-serif;


// *** для Цветов ***
$white: #ffffff;
$black: #000000;

$main-text-color: #102654;

// --- разные Цвета для секций ---
$section-background: #f8f9fc;

$main-block-blue: #003d85;
$main-block-red: #b80027;

$subscriptions-blue: #00359f;
$subscriptions-red: #d10a42;

$promo-block-red: #ed0233;

$trainer-card-background: #c0c6d1;

$advantages-colored-text-blue: #0041ca;
$advantages-colored-text-blue--small: #2e35ac;
$advantages-colored-text-red: #d10a42;
$advantages-description-text: #102654;
$advantages-centered-item-background: #1c3374;

$discounts-text-blue: #1c3374;
$discounts-blue: #00359f;
$discounts-red: #d10a42;

$review-background: #1c3374;
